<footer>

                <!-- footer area start -->
                <div class="des-footer-wrap pb-20">
                    <div class="des-footer-area des-footer-bg text-center include-bg hero-footer" >
                        <div class="des-footer-top d-flex align-items-center justify-content-between">
                            <span>Hibridni LGS+SIP Sistemi</span>
                            <div class="des-footer-logo">
                                <a href="index.html"><img data-width="140px" src="images/logo-white.svg" alt=""></a>
                            </div>
                            <span>Made in Serbia</span>
                        </div>
                        <div class="des-footer-middle">
                            <span>Kontaktirajte nas da oživimo vašu viziju</span>
                            <h3 class="des-footer-title"><a class="text-scale-anim " >vos modular system</a>
							</h3>



                        </div>
                        <div class="des-footer-bottom d-flex align-items-center justify-content-between">
                            <span class="footer-contact">
                                <span class="footer-contact-row">Kontakt Telefon:<br>
<a class="tp-line-white footer-contact-link" href="tel:+381640510066">+381 64 051 0066</a>, <a class="tp-line-white footer-contact-link" href="tel:+381635566646">+381 63 566 646</a></span>
                                <span class="footer-contact-row">Email: <a class="tp-line-white footer-contact-link" href="mailto:office@vos-system.com">office@vos-system.com</a></span>
                                <span class="footer-contact-row">Adresa: <a class="tp-line-white footer-contact-link" href="https://www.google.com.bd/maps/place/Vos+System/@45.3799021,20.0602516,17z/data=!3m1!4b1!4m14!1m7!3m6!1s0x475b222dc4f3ee83:0x62e4f84243fef71f!2sVos+System!8m2!3d45.3798984!4d20.0628265!16s%2Fg%2F1tg_vwn9!3m5!1s0x475b222dc4f3ee83:0x62e4f84243fef71f!8m2!3d45.3798984!4d20.0628265!16s%2Fg%2F1tg_vwn9?entry=ttu&g_ep=EgoyMDI2MDYwMS4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer">Čuruška 3, 21230 Žabalj, Srbija</a></span>
                            </span>
                            <div class="des-footer-bottom-social text-center">
                                <a href="https://www.youtube.com/@VOSSYSTEMMODULAR">YouTube</a>
                                <a href="https://www.instagram.com/vosmodularsystem">Instagram</a>
                                <a href="https://www.facebook.com/vosmodularsystem">Facebook</a>

                            </div>
                            <span>Copyright © 2026</span>
                        </div>
                    </div>
                </div>
                <!-- footer area end -->

            </footer>
